@using System.Web.Optimization
@using EPiServer.Framework.Web.Mvc.Html
@using EpiserverSite1.Business
@model IPageViewModel<SitePageData>

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }

<div class="container">

    <div class="row">
        <div class="col-12 col-md-8">
            @RenderBody()
        </div>

        <div class="col-12 col-md-4">
            <h3>DEMO DEMO DEMO ANYTHING</h3>
        </div>
    </div>
</div>