@using EpiserverSite1

@model PageViewModel<DemoPage>
@{
    Layout = "~/Views/Shared/Layouts/_Demo.cshtml";
}
<div class="clearfix" @Html.EditAttributes(x => x.CurrentPage.MainBody)>
	@Html.DisplayFor(m => m.CurrentPage.MainBody)
</div>